@model IEnumerable<QuizAPI.Models.Questions>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QnInWords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QnInWords)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QnId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QnId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QnId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
